#quote {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
  }
 
  h1{

text-align: center;
  }
  body{
    text-align: center;
    margin-top: 50px;
    background-color: rgb(153, 76, 76);

  }
  button{
    margin-top: 70px;
  }